:host {
  display: block;
  background-color: beige;
  color: black;
  /* container-type: inline-size;
  container-name: card;   */
}

:host .wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

:host span {
  flex-shrink: 0;
  display: block;
  width: 200px;
  height: 200px;
  background-color: lightseagreen;
}

/* @media (min-width: 400px) {
  :host .wrapper {
    flex-direction: row;
  }
} */

/* @container card (min-width: 400px) {
  :host .wrapper {
    flex-direction: row;
  }
} */
