:host {
  display: block;
  background-color: beige;
  color: black;
  /* container-type: inline-size;
  container-name: card;   */
}

:host .wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

:host img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 300px;
}

@media (min-width: 600px) {
  :host .wrapper {
    flex-direction: row;
  }
}

/* @container card (min-width: 600px) {
  :host .wrapper {
    flex-direction: row;
  }
} */
